<table id="table-hoverable">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Date Of Birth</th>
            <th>Student Class</th>
        </tr>
    </thead>
    <tbody>
        {{#each @data as |student|}}
        <tr role="button" {{on "click" (fn this.navigateToStudent (get student "Student ID"))}}>
            <td>{{get student "Student ID"}}</td>
            <td>{{get student "Student Name"}}</td>
            <td>{{get student "Date Of Birth"}}</td>
            <td>{{get student "Student Class"}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>